@import url('https://fonts.googleapis.com/css?family=Open+Sans|Raleway:300,400');

/* Global styles here */
/* Reset */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 7em;
}

/* Font */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Raleway', sans-serif;
}

body {
  font-family: 'Open Sans', sans-serif;
}

