@import url('https://fonts.googleapis.com/css?family=Open+Sans|Raleway:300,400');

/* Reset */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

/* Centre a single element vertically and horizontally on a page when body has a single child element. */
body.only-child {
  min-height: 100vh;
  display: flex;
}
body.only-child > * {
  margin: auto;
}

/* Font */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Raleway', sans-serif;
}

body {
  font-family: 'Open Sans', sans-serif;
}
